@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'config.scss';
body {
    background-color: $color-bg;
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    font-size: $font-size-md;
    color: $color-dark;
}

h1 {
    font-weight: 700;
    font-size: $font-size-xxl;
}

h2 {
    font-size: $font-size-xl;
    font-weight: 700;
}

h3 {
    font-size: $font-size-lg;
    font-weight: 700;
}

.font {
    &-medium-plus {
        font-size: $font-size-md-plus;
    }
    &-badge {
        font-size: $font-size-badge;
    }
    &-subtitle {
        font-size: $font-size-subtitle;
    }
    &-xxl {
        font-size: $font-size-xxl;
    }
    &-wrk-detl {
        font-size: $font-size-wrk;
    }
}

.font {
    &-weight-mdium {
        font-weight: $font-weight-md;
    }
}

.bg {
    &-red {
        background-color: $color-red;
    }
    &-blue-light {
        background-color: $color-blue-light;
    }
    &-night {
        background-color: $color-dark;
    }
}

.color {
    &-light {
        color: $color-light;
    }
}

.viewall {
    color: $color-blue;
    cursor: pointer;
}

.navbar-light .navbar-nav .nav-link.active {
    color: $color-red!important;
}

.user-image {
    background-image: url(../img/my_pic.jpeg);
    width: 80%;
    max-width: 200px;
    aspect-ratio: 1;
    background-size: 100%;
    background-position: center;
}

.activetab {
    color: $color-red!important;
}