//colors
$color-red: #FF6464;
$color-dark: #21243D;
$color-light: #8695A4;
$color-blue: #00A8CC;
$color-bg: #fff;
//font-sizes
$font-size-xxl: 44px;
$fonts-size-xl: 30px;
$font-size-lg: 26px;
$font-size-md-plus: 20px;
$font-size-md: 16px;
$font-size-sm: 14px;
//breakpoints
$tablet: 800px;
$phone: 500px;